<div class="navbar">
    <div class="menu-button">
        <span class="material-symbols-outlined" id="menu-toggle">menu</span>
    </div>
    <div class="title-products">
        <h2>Products Store</h2>
    </div>
</div>

{{!-- SIDEBAR --}}
<div id="sidebar" class="sidebar">
    <ul>
        <li><a href="/api/viewsproducts">Home</a></li>
        <li><a href="/api/chat">Chat</a></li>
        <li><a href="/api/viewsproducts/addproduct">Add Product</a></li>
        <li><a href="/api/viewsproducts/deleteproduct">Delete Product</a></li>
        <li><a href="/api/profile">Profile</a></li>
    </ul>
    <div class="button-logout">
        <a href="/api/auth/logout">Logout</a>
    </div>
</div>

<div id="overlay" class="overlay"></div>

<h2 class="cart-title">Productos en el Carrito</h2>
<div class="cart-container">
    {{#if products.length}}
        <div class="cart-items">
            {{#each products}}
                <div data-product="{{this._id}}" class="cart-item">
                    <img src="/images/{{this.thumbnails.[0]}}" alt="{{this.title}}" class="product-image">
                    <div class="product-info">
                        <h3 class="product-title">{{this.title}}</h3>
                        <p class="product-price">Precio: ${{this.price}}</p>
                        <p class="product-quantity">Cantidad: {{this.quantity}}</p>
                        <p class="product-subtotal">Subtotal: ${{multiply this.price this.quantity}}</p>
                    </div>
                    <div class="cart-remove-button">
                        <span class="material-symbols-outlined">delete</span>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="cart-summary">
            <h3 class="summary-title">Resumen del Carrito</h3>
            <p class="total">Total de productos: {{products.length}}</p>
            <p class="total">
                Total a pagar: $
                {{#reduce products 0}}
                    {{add @result (multiply this.price this.quantity)}}
                {{/reduce}}
            </p>
            <button class="checkout-button">Proceder al Pago</button>
        </div>
    {{else}}
        <p class="empty-cart-message">{{message}}</p>
    {{/if}}
</div>

<script type="module" src="/js/client.cart.js"></script>