<div class="navbar">
    <div class="menu-button">
        <span class="material-symbols-outlined" id="menu-toggle">menu</span>
    </div>
    <div class="title-products">
        <h2>Products Store</h2>
    </div>
    <div>
        <a id="cart-btn" href="#" class="cart-button">
            <span class="material-symbols-outlined">shopping_cart</span>
        </a>
    </div>
</div>

{{#if query}}
    <div class="filter">
        <p>Filtrando por: {{query}} = {{value}}</p>
    </div>
{{/if}}

{{!-- SIDEBAR --}}
<div id="sidebar" class="sidebar">
    <ul>
        <li><a href="/api/viewsproducts">Home</a></li>
        <li><a href="/api/chat">Chat</a></li>
        <li><a href="/api/viewsproducts/addproduct">Add Product</a></li>
        <li><a href="/api/viewsproducts/deleteproduct">Delete Product</a></li>
        <li><a href="/api/profile">Profile</a></li>
    </ul>
    <div class="button-logout">
        <a href="/api/auth/logout">Logout</button></a>
    </div>
</div>

<div id="overlay" class="overlay"></div>

{{!-- MENSAJE BIENVENIDA --}}
<div class="welcome-message">
    <p>¡Bienvenido {{nickName}}!</p>
</div>

{{!-- PRODUCTOS --}}

<div id="content-home" class="content active">
    <div id="products-container" class="products-container">
        {{#each products}}
            <div data-product="{{this._id}}" class="product-card">
                <div class="product-details">
                    <img src="/images/{{this.thumbnails.[0]}}" alt="{{this.title}}">
                    <div class="product-card-content">
                        <h3>{{this.title}}</h3>
                        <p>${{this.price}}</p>
                    </div>
                </div>
                <button class="add-to-cart">
                    <span class="material-symbols-outlined">add_shopping_cart</span>
                </button>
            </div>
        {{/each}}
    </div>
</div>

{{!-- PAGINACION --}}

<div class="pagination">
    {{#if prevLink}}
        <div>
            <a href="{{prevLink}}" class="btn">
                <span class="material-symbols-outlined">arrow_back</span>
            </a>    
        </div>
        
    {{else}}
        <div class="btn disabled">
            <span class="material-symbols-outlined">arrow_back</span>
        </div>
    {{/if}}

    <span class="current-page">{{page}}</span>

    {{#if nextLink}}
    <div>
        <a href="{{nextLink}}" class="btn">
            <span class="material-symbols-outlined">arrow_forward</span>
        </a>
    </div>
    {{else}}
        <div class="btn disabled"><span class="material-symbols-outlined">arrow_forward</span></div>
    {{/if}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/client.home.js"></script>

{{!-- SweetAlert --}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>